.header{
    height: 50px;padding: 10px;
    margin: 5px;
    background-color: coral;
    color: white;
    font-size: 25px;
    font-weight: bold;
    /* margin: 10px; */
    justify-content: center;
    display: flex;
    align-content: center;
}